# National Health and Nutrition Examination Survey (NHANES)
[https://wwwn.cdc.gov/nchs/nhanes/](https://wwwn.cdc.gov/nchs/nhanes/)

Este laboratório usará dados extraídos do NHANES.

## NHANES datasets from 2013-2014

Foram extraídos dados do [NHANES 2013-2014](https://wwwn.cdc.gov/nchs/nhanes/continuousnhanes/default.aspx?BeginYear=2013).

Os dados estão disponíveis em arquivos CSV no diretório `/data/nhanes`. Lá está disponível a documentação do esquema dos arquivos.

# Tarefa 1 - Esquema Relacional

Analise os arquivos CSV que estão no diretório `/data/nhanes` e escreva um esquema relacional referente às tabelas, suas chaves primárias e estrangeiras (não é SQL ainda). Coloque a chave primária com dois underlines antes e dois depois:

\__teste\__

Pessoa(__id__, gender, age)
Medicacoes_Droga(__code__, name)
Uso_de_Medicacoes(__person_id__, __drug_code__, days_use)
CHE: person_id é chave estrangeira para Pessoas, drug_code é chave estrangeira para Medicacoes_Droga

## Criação das Tabelas em SQL e Importação de Dados

Considere o seguinte exemplo em que é criada uma tabela em SQL e importado dados do arquivo CSV `demographic-person.csv`.

In [1]:
%defaultDatasource jdbc:h2:mem:db

In [9]:
CREATE TABLE Pessoa (
  Id VARCHAR(5) NOT NULL,
  Gender INTEGER,
  Age INTEGER,
  PRIMARY KEY(Id)
) AS SELECT
    id,
    gender,
    age
FROM CSVREAD('../data/demographic-person.csv');

In [10]:
SELECT * FROM Pessoa;

# Tarefa 2 - Criação das Tabelas em SQL e Importação de Dados

Escreva instruções SQL para montar as duas tabelas restante, conforme definido no esquema relacional da **Tarefa 1**.

**Importante:** não defina chave primária para a tabela de uso de medicamento.

Durante a criação das tabelas, realize a importação dos dados do arquivo CSV nas tabelas criadas, conforme exemplo anterior.

In [15]:
CREATE TABLE Medicacoes_Droga (
  Code VARCHAR(6) NOT NULL,
  Name VARCHAR(100),
) AS SELECT
    code,
    name
FROM CSVREAD('../data/medications-drug.csv');

org.h2.jdbc.JdbcSQLException:  Table "MEDICACOES_DROGA" already exists; SQL statement

In [6]:
SELECT * FROM Medicacoes_Droga;

In [7]:
CREATE TABLE Uso_de_Medicacoes (
  Person_Id VARCHAR(5) NOT NULL,
  Drug_Code VARCHAR(6) NOT NULL,
  Days_Use INTEGER,
) AS SELECT
    person_id,
    drug_code,
    days_use
FROM CSVREAD('../data/medications-use.csv');

In [8]:
SELECT * FROM Uso_de_Medicacoes;

# Tarefa 3 - Consultas Simples

Execute as consultas a seguir.

a) Liste pessoas com idade acima de 60

In [12]:
SELECT P.Id, P.Age  
      FROM Pessoa P
      WHERE P.Age > 60

b) Liste as idades das pessoas cadastradas (sem repetições)

In [13]:
SELECT P.Id, P.Age  
      FROM Pessoa P
      WHERE P.Age > 60

c) Liste código das pessoas, idade, código dos medicamentos que usaram e dias de uso

In [14]:
SELECT P.Id, P.Age, M.Drug_Code, M.Days_Use  
      FROM Pessoa P JOIN Uso_de_Medicacoes M
            ON P.Id = M.Person_Id;

d) Liste código das Pessoas, idade, nome dos medicamentos que usaram e quantos dias de uso

In [20]:
SELECT P.Id, P.Age, M.Name, U.Days_Use
      FROM Pessoa P , Medicacoes_Droga M, Uso_de_Medicacoes U
      WHERE P.Id = U.Person_Id AND U.Drug_Code = M.Code

e) Liste nome dos medicamentos que foram usados por pessoas (sem repetições)

In [ ]:
SELECT DISTINCT M.Name 
      FROM Pessoa P , Medicacoes_Droga M, Uso_de_Medicacoes U
      WHERE P.Id = U.Person_Id AND U.Drug_Code = M.Code

f) Liste nome dos medicamentos usados por mais de 2.000 dias (sem repetições)

In [19]:
SELECT DISTINCT M.Name, U.Days_Use 
      FROM Medicacoes_Droga M, Uso_de_Medicacoes U
      WHERE M.Code = U.Drug_Code AND U.Days_Use > 2000